body {
    background-color: #f3fdfc;
}

form {
    background: #fff;
    padding: 5%;
    border-color: black;
}

.mydiv {
    background: #fff;
}

h1 {
    background-color: #146f6a;
    padding: 12px 28px;
    color: white;
}